<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">

<body>
    <main ng-controller="sale-report-ctrl">
        <!-- CONTENT WRAPPER -->
        <div class="ec-content-wrapper">
            <div class="content">                         
                <div class="row">
                    <div class="col-xl-8 col-md-12 p-b-15">
                        <!-- Sales Graph -->
                        <div id="user-acquisition" class="card card-default">
                            <div class="card-header">
                                <h2>Đơn Hàng Đã Bán</h2>
                            </div>
                            <div class="card-body">

                                <div class="tab-content pt-4" id="salesReport">
                                    <div class="tab-pane fade show active" id="source-medium" role="tabpanel">
                                        <div class="mb-6" style="max-height:247px">
                                            <canvas id="acquisition" class="chartjs2"></canvas>
                                            <div id="acqLegend" class="customLegend mb-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-12 p-b-15">
                        <!-- Recent Order Table -->
                        <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                            <div class="card-header justify-content-between">
                                <h2>Đơn hàng trong năm</h2>
                                <div class="date-range-report">
                                    <span></span>
                                </div>
                            </div>
                            <div class="card-body pt-0 pb-5">
                                <table class="table card-table table-responsive table-responsive-large"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Tháng</th>
                                            <th>Số đơn</th>
                                            <th>Sản phẩm bán được</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tableData in saleReportTableData">
                                            <td>{{tableData.month}}</td>
                                            <td>{{tableData.orderCount}}</td>    
                                            <td>{{tableData.productCount}}</td>                                        
                                            <td class="text-right">
                                                <div class="dropdown show d-inline-block widget-dropdown">
                                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                                        id="dropdown-recent-order1" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false"
                                                        data-display="static"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class="dropdown-item">
                                                            <a href="#">View</a>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <a href="#">Remove</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 p-b-15">
                        <!-- Recent Order Table -->
                        <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                            <div class="card-header justify-content-between">
                                <h2>Đơn hàng</h2>
                                <div class="date-range-report">
                                    <span></span>
                                </div>
                            </div>
                            <div class="card-body pt-0 pb-5">
                                <table class="table card-table table-responsive table-responsive-large"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn hàng</th>
                                            <th>Sản phẩm</th>
                                            <th class="d-none d-lg-table-cell">Số lượng</th>
                                            <th class="d-none d-lg-table-cell">Ngày đặt</th>
                                            <th class="d-none d-lg-table-cell">Giá</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="order in orders">
                                            <td>{{order.id}}</td>
                                            <td>
                                           		<a ng-repeat="orderDetail in ordersDetail" ng-if="orderDetail.order.id == order.id" class="text-dark" th:href="@{|/tco-admin/product/detail/{{orderDetail.product.id}}|}">{{orderDetail.product.name}} <br></a>                                            
                                            </td>
                                            <td class="d-none d-lg-table-cell">
                                            	<span ng-repeat="orderDetail in ordersDetail" ng-if="orderDetail.order.id == order.id">
                                            		{{orderDetail.quantity}} <br>
                                            	</span>
                                            </td>
                                            <td class="d-none d-lg-table-cell">{{order.createDate | date: "dd/MM/yyyy"}}</td>
                                            <td class="d-none d-lg-table-cell">
                                            	<span ng-repeat="orderDetail in ordersDetail" ng-if="orderDetail.order.id == order.id">
                                            		{{((orderDetail.product.price) * ((100 - orderDetail.product.discount) / 100)) * orderDetail.quantity}} <br>
                                            	</span>
                                            </td>
                                            <td>
                                                <span class="badge badge-success">{{order.status}}</span>
                                            </td>
                                            <td class="text-right">
                                                <div class="dropdown show d-inline-block widget-dropdown">
                                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                                        id="dropdown-recent-order1" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false"
                                                        data-display="static"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class="dropdown-item">
                                                            <a href="#">View</a>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <a href="#">Remove</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div> <!-- End Content -->
        </div> <!-- End Content Wrapper -->


	</div>
    </main>
</body>

</html>