<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">

<body>
    <main ng-controller="sale-report-ctrl">
        <!-- CONTENT WRAPPER -->
        <div class="ec-content-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-xl-8 col-md-12 p-b-15">
                        <!-- Sales Graph -->
                        <div id="user-acquisition" class="card card-default">
                            <div class="card-header">
                                <h2>Đơn Hàng Đã Bán</h2>
                            </div>
                            <div class="card-body">

                                <div class="tab-content pt-4" id="salesReport">
                                    <div class="tab-pane fade show active" id="source-medium" role="tabpanel">
                                        <div class="mb-6" style="max-height:247px">
                                            <canvas id="acquisition" class="chartjs2"></canvas>
                                            <div id="acqLegend" class="customLegend mb-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 p-b-15">
                            <!-- Recent Order Table -->
                            <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                                <div class="card-header justify-content-between">
                                    <h2>Đơn hàng trong năm</h2>
                                    <a th:href="@{|/exportPDF/orderSolder/{{yearValue}}|}">In PDF</a>
                                    <select ng-change="showReport()" ng-model="yearValue">
                                        <option ng-repeat="orderYear in allOrderYear" ng-value="orderYear">{{orderYear}}
                                        </option>
                                    </select>
                                </div>
                                <div class="card-body pt-0 pb-5">
                                    <table class="table card-table table-responsive table-responsive-large"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tháng</th>
                                                <th>Số đơn</th>
                                                <th>Sản phẩm bán được</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tableData in saleReportTableData">
                                                <td>{{tableData.month}}</td>
                                                <td>{{tableData.orderCount}}</td>
                                                <td>{{tableData.productCount}}</td>
                                                <td class="text-right">
                                                    <button class="button-popup"
                                                        ng-click="getSaleReportDetail(yearValue, tableData.month)"
                                                        data-bs-toggle="modal" data-bs-target="#exampleModal">Xem
                                                        chi tiết</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" style="margin: 5% 20%; display: block;">
                            <div class="modal-content" style="width: 200%;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng trong trong tháng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 p-b-15">
                                            <!-- Recent Order Table -->
                                            <div class="card card-table-border-none card-default recent-orders"
                                                id="recent-orders">
                                                <div
                                                    class="card-header card-header-border-bottom d-flex justify-content-between">
                                                    <div class="card-bar">
                                                        <div class="col-lg-3 col-md-6">
                                                            <label>Hiển thị: </label>
                                                            <select class="form-control" ng-change="pagination()"
                                                                ng-model="pageSize">
                                                                <option value="5">5</option>
                                                                <option value="10">10</option>
                                                                <option value="20">20</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-9 col-md-12 sort">
                                                            <div class="col-lg-4 col-md-6 p-space">
                                                                <label for="">Tìm kiếm</label>
                                                                <input class="form-control" type="text"
                                                                    ng-model="orderSearch" placeholder="Tìm kiếm">
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 p-space">
                                                                <label for="sortProduct">Bộ lọc</label>
                                                                <select class="form-control" ng-change="sort()"
                                                                    ng-model="orderProperty">
                                                                    <option value="id">Mã đơn hàng ↑</option>
                                                                    <option value="-id">Mã đơn hàng ↓</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h6>Tổng đơn đặt: {{totalQuantity()}}</h6>
                                                </div>
                                                <div class="card-header justify-content-between">
                                                    <h2>Đơn hàng</h2>
                                                    <a th:href="@{|/exportPDF/orderMonth/{{yearOrderDetail}}/{{monthOrderDetail}}|}">In PDF</a>
                                                </div>
                                                <div class="card-body pt-0 pb-5">
                                                    <table
                                                        class="table card-table table-responsive table-responsive-large"
                                                        style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Mã đơn hàng</th>
                                                                <th>Sản phẩm</th>
                                                                <th class="d-none d-lg-table-cell">Số lượng</th>
                                                                <th class="d-none d-lg-table-cell">Ngày đặt</th>
                                                                <th class="d-none d-lg-table-cell">Giá</th>
                                                                <th>Status</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                ng-repeat="order in orders | filter: orderSearch | orderBy: orderProperty | startFrom: currentPage*pageSize | limitTo: pageSize">
                                                                <td>{{order.id}}</td>
                                                                <td>
                                                                    <a ng-repeat="orderDetail in ordersDetail"
                                                                        ng-if="orderDetail.order.id == order.id"
                                                                        class="text-dark"
                                                                        th:href="@{|/tco-admin/product/detail/{{orderDetail.product.id}}|}">{{orderDetail.product.name}}
                                                                        <br></a>
                                                                </td>
                                                                <td class="d-none d-lg-table-cell">
                                                                    <span ng-repeat="orderDetail in ordersDetail"
                                                                        ng-if="orderDetail.order.id == order.id">
                                                                        {{orderDetail.quantity}} <br>
                                                                    </span>
                                                                </td>
                                                                <td class="d-none d-lg-table-cell">{{order.createDate |
                                                                    date:
                                                                    "dd/MM/yyyy"}}</td>
                                                                <td class="d-none d-lg-table-cell">
                                                                    <span ng-repeat="orderDetail in ordersDetail"
                                                                        ng-if="orderDetail.order.id == order.id">
                                                                        {{((orderDetail.product.price) * ((100 -
                                                                        orderDetail.product.discount) / 100)) *
                                                                        orderDetail.quantity | currency:'':0}} VND <br>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <span
                                                                        class="badge badge-success">{{order.status}}</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="panel-footer text-center">
                                                        <button ng-click="pagination()" class="btn btn-danger">
                                                            <b>Trang đầu</b>
                                                        </button>
                                                        <button ng-disabled="currentPage == 0"
                                                            ng-click="currentPage=currentPage - 1"
                                                            class="btn btn-primary">
                                                            <b>Trước</b>
                                                        </button>
                                                        <button
                                                            class="btn btn-success">{{currentPage+1}}/{{numberOfPages()}}</button>
                                                        <button ng-disabled="currentPage >= orders.length/pageSize - 1"
                                                            ng-click="currentPage=currentPage+1"
                                                            class="btn btn-primary">
                                                            <b>Tiếp</b>
                                                        </button>
                                                        <button ng-click="currentPage = numberOfPages() -1"
                                                            class="btn btn-danger">
                                                            <b>Trang cuối</b>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div> <!-- End Content -->
            </div> <!-- End Content Wrapper -->


        </div>
    </main>

</body>

</html>