<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">

<body>
    <main ng-controller="user-registry-ctrl">


        <!-- CONTENT WRAPPER -->
        <div class="ec-content-wrapper">
            <div class="content">



                <div class="row">
                    <div class="col-xl-4 col-md-12 p-b-15">
                        <div class="card card-default">
                            <div class="card-header flex-column align-items-start">
                                <h2>Người đăng ký</h2>
                            </div>
                            <div class="card-body">
                                <canvas id="currentUser" class="chartjs"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 p-b-15">
                            <!-- Recent Order Table -->
                            <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                                <div class="card-header justify-content-between">
                                    <h2>Thống kê người dùng</h2>
                                    <a th:href="@{|/exportPDF/user/{{yearValue}}|}">In PDF</a>
                                    <select ng-change="showReport()" ng-model="yearValue">
                                        <option ng-repeat="year in allYearUserRegistry" ng-value="year">{{year}}
                                        </option>
                                    </select>
                                </div>
                                <div class="card-body pt-0 pb-5">
                                    <table class="table card-table table-responsive table-responsive-large"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tháng</th>
                                                <th>Số người đăng ký</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="userReport in userRegistryReport">
                                                <td>{{userReport.month}}</td>
                                                <td>
                                                    {{userReport.userRegistry}}
                                                </td>
                                                <td>
                                                    <button class="button-popup"
                                                        ng-click="getUserRegistryDetailReport(yearValue, userReport.month)" data-bs-toggle="modal" data-bs-target="#exampleModal">Xem
                                                        chi tiết</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" style="margin: 5% 20%; display: block;">
                            <div class="modal-content" style="width: 200%;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết người dùng đăng ký trong tháng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 p-b-15">
                                            <!-- Recent Order Table -->
                                            <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                                                <div class="card-header card-header-border-bottom d-flex justify-content-between">
                                                    <div class="card-bar">
                                                        <div class="col-lg-3 col-md-6">
                                                            <label>Hiển thị: </label>
                                                            <select class="form-control" ng-change="pagination()" ng-model="pageSize">
                                                                <option value="5">5</option>
                                                                <option value="10">10</option>
                                                                <option value="20">20</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-9 col-md-12 sort">
                                                            <div class="col-lg-4 col-md-6 p-space">
                                                                <label for="">Tìm kiếm</label>
                                                                <input class="form-control" type="text" ng-model="userSearch"
                                                                    placeholder="Tìm kiếm">
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 p-space">
                                                                <label for="sortProduct">Bộ lọc</label>
                                                                <select class="form-control" ng-change="sort()" ng-model="userProperty">
                                                                    <option value="username">Tên đăng nhập ↑</option>
                                                                    <option value="-username">Tên đăng nhập ↓</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h6>Số người đăng ký: {{totalQuantity()}}</h6>
                                                </div>
                                                <div class="card-header justify-content-between">
                                                    <h2>Người dùng đăng ký trong tháng</h2>
                                                    <a th:href="@{|/exportPDF/user/{{yearUserDetail}}/{{monthUserDetail}}|}">In PDF</a>
                                                </div>
                                                <div class="card-body pt-0 pb-5">
                                                    <table class="table card-table table-responsive table-responsive-large"
                                                        style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Tên đăng ký</th>
                                                                <th>Email</th>
                                                                <th>Địa chỉ</th>
                                                                <th>Điện thoại</th>
                                                                <th>Ngày đăng ký</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                ng-repeat="userRegistry in userRegistryDetailReport | filter: userSearch | orderBy: userProperty | startFrom: currentPage*pageSize | limitTo: pageSize">
                                                                <td>{{userRegistry.username}}</td>
                                                                <td>
                                                                    {{userRegistry.email}}
                                                                </td>
                                                                <td>{{userRegistry.address}}</td>
                                                                <td>{{userRegistry.phone}}</td>
                                                                <td>{{userRegistry.createDate | date:'dd/MM/yyyy'}}</td>
                                                                <td class="text-right">
                                                                    <div class="dropdown show d-inline-block widget-dropdown">
                                                                        <a class="dropdown-toggle icon-burger-mini" href="#"
                                                                            role="button" id="dropdown-recent-order5"
                                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false" data-display="static"></a>
                                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                                            <li class="dropdown-item">
                                                                                <a href="#">View</a>
                                                                            </li>
                                                                            <li class="dropdown-item">
                                                                                <a href="#">Remove</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="panel-footer text-center">
                                                        <button ng-click="pagination()" class="btn btn-danger">
                                                            <b>Trang đầu</b>
                                                        </button>
                                                        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage - 1"
                                                            class="btn btn-primary">
                                                            <b>Trước</b>
                                                        </button>
                                                        <button class="btn btn-success">{{currentPage+1}}/{{numberOfPages()}}</button>
                                                        <button
                                                            ng-disabled="currentPage >= userRegistryDetailReport.length/pageSize - 1"
                                                            ng-click="currentPage=currentPage+1" class="btn btn-primary">
                                                            <b>Tiếp</b>
                                                        </button>
                                                        <button ng-click="currentPage = numberOfPages() -1" class="btn btn-danger">
                                                            <b>Trang cuối</b>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-12 p-b-15">
                            <!-- Recent Order Table -->
                            <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                                <div class="card-header card-header-border-bottom d-flex justify-content-between">
                                    <div class="card-bar">
                                        <div class="col-lg-3 col-md-6">
                                            <label>Hiển thị: </label>
                                            <select class="form-control" ng-change="paginationUserShopping()"
                                                ng-model="pageSizeUserShopping">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-9 col-md-12 sort">
                                            <div class="col-lg-4 col-md-6 p-space">
                                                <label for="">Tìm kiếm</label>
                                                <input class="form-control" type="text" ng-model="userShoppingSearch"
                                                    placeholder="Tìm kiếm">
                                            </div>
                                            <div class="col-lg-4 col-md-6 p-space">
                                                <label for="sortProduct">Bộ lọc</label>
                                                <select class="form-control" ng-change="sortUserShopping()"
                                                    ng-model="userShoppingProperty">
                                                    <option value="username">Tên đăng nhập ↑</option>
                                                    <option value="-username">Tên đăng nhập ↓</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header justify-content-between">
                                    <h2>Khách mua hàng</h2>
                                    <a th:href="@{|/exportPDF/userShopping|}">In PDF</a>
                                </div>
                                <div class="card-body pt-0 pb-5">
                                    <table class="table card-table table-responsive table-responsive-large"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tên đăng ký</th>
                                                <th>Số sản phẩm mua</th>
                                                <th>Tổng số tiền dự kiến</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                ng-repeat="userShopping in userShoppingReport | filter: userShoppingSearch | orderBy: userShoppingProperty | startFrom: currentPageUserShopping*pageSizeUserShopping | limitTo: pageSizeUserShopping">
                                                <td>{{userShopping.username}}</td>
                                                <td>
                                                    {{userShopping.productBuy}}
                                                </td>
                                                <td>{{userShopping.totalCash | currency:'':0}} VND</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="panel-footer text-center">
                                        <button ng-click="paginationUserShopping()" class="btn btn-danger">
                                            <b>Trang đầu</b>
                                        </button>
                                        <button ng-disabled="currentPageUserShopping == 0"
                                            ng-click="currentPageUserShopping=currentPageUserShopping - 1"
                                            class="btn btn-primary">
                                            <b>Trước</b>
                                        </button>
                                        <button
                                            class="btn btn-success">{{currentPageUserShopping+1}}/{{numberOfPagesUserShopping()}}</button>
                                        <button
                                            ng-disabled="currentPageUserShopping >= userShoppingReport.length/pageSizeUserShopping - 1"
                                            ng-click="currentPageUserShopping=currentPageUserShopping+1"
                                            class="btn btn-primary">
                                            <b>Tiếp</b>
                                        </button>
                                        <button ng-click="currentPageUserShopping = numberOfPagesUserShopping() -1"
                                            class="btn btn-danger">
                                            <b>Trang cuối</b>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- End Content -->
            </div> <!-- End Content Wrapper -->
        </div>


    </main>
</body>

</html>