<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-client/layout-client/index :: dynamic(~{::main})}">

<body>
	<main>

		<!-- Ec breadcrumb start -->
		<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row ec_breadcrumb_inner">
							<div class="col-md-6 col-sm-12">
								<h2 class="ec-breadcrumb-title">Theo dõi đơn hàng</h2>
							</div>
							<div class="col-md-6 col-sm-12">
								<!-- ec-breadcrumb-list start -->
								<ul class="ec-breadcrumb-list">
									<li class="ec-breadcrumb-item"><a th:href="@{/home}">Trang chủ</a></li>
									<li class="ec-breadcrumb-item"><a th:href="@{/order/history}">Lịch sử đặt hàng</a>
									</li>
									<li class="ec-breadcrumb-item active">Đơn Hàng</li>
								</ul>
								<!-- ec-breadcrumb-list end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Ec breadcrumb end -->

		<!-- Ec Track Order section -->
		<section class="ec-page-content section-space-p" th:object="${order}">
			<div class="container">
				<!-- Track Order Content Start -->
				<!-- Track Order Content 1 -->
				<div class="ec-trackorder-content col-md-12">
					<div class="ec-trackorder-inner">
						<div class="ec-trackorder-top">
							<h2 class="ec-order-id">đơn hàng #[[*{id}]]</h2>
							<div class="ec-order-detail">
								<th:block th:if="*{status} != 'HuyBo'">
									<div>Dự kiến sẽ đến <span
											th:text="${#dates.format(order.expectedDate, 'dd/MM/yyyy')}"></span></div>
								</th:block>
								<div>
									Mã đơn hàng <span>#[[*{id}]]</span>
								</div>
							</div>
						</div>
						<div class="ec-trackorder-bottom">
							<div class="ec-progress-track">
								<ul id="ec-progressbar">

									<th:block th:if="*{status} == 'ChoXacNhan'">
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_1.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Chờ xác nhận</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_2.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đang
												được chuẩn bị</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_3.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đã xuất
												kho</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_4.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đang
												được <br> vận chuyển
											</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_5.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đã
												giao</span></li>
									</th:block>

									<th:block th:if="*{status} == 'ChuanBi'">
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_1.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Chờ xác nhận</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_2.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Đang được chuẩn bị</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_3.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đã xuất
												kho</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_4.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đang
												được <br> vận chuyển
											</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_5.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đã
												giao</span></li>
									</th:block>

									<th:block th:if="*{status} == 'XuatKho'">
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_1.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Chờ xác nhận</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_2.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Đang được chuẩn bị</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_3.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Đã xuất kho</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_4.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đang
												được <br> vận chuyển
											</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_5.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đã
												giao</span></li>
									</th:block>

									<th:block th:if="*{status} == 'VanChuyen'">
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_1.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Chờ xác nhận</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_2.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">đang được chuẩn bị</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_3.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title"> đã xuất kho</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_4.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Đang được <br> vận chuyển
											</span></li>
										<li class="step0"><span class="ec-track-icon"> <img
													th:src="@{/assets/images/icons/track_5.png}"
													alt="track_order"></span><span
												class="ec-progressbar-track"></span><span class="ec-track-title">Đã
												giao</span></li>
									</th:block>

									<th:block th:if="*{status} == 'DaGiaoHang'">
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_1.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Chờ xác nhận</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_2.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">đang được chuẩn bị</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_3.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title"> đã xuất kho</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_4.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title"> Đang được <br> vận chuyển
											</span></li>
										<li class="step0 active"><span class="ec-track-icon">
												<img th:src="@{/assets/images/icons/track_5.png}" alt="track_order">
											</span><span class="ec-progressbar-track"></span><span
												class="ec-track-title">Đã giao</span></li>
									</th:block>

									<th:block th:if="*{status} == 'HuyBo'">
										<li class="step0 active"><span class="ec-track-icon">
										</li>
										<li class="step0 active"><span class="ec-track-icon">
										</li>
										<li class="step0 active"><span class="ec-track-icon">
												<img style="width: 40%;"
													th:src="@{/assets/images/icons/order_cancel.png}" alt="track_order">
												<p style="font-size: 150%;">Đã hủy đơn</p>
										</li>
										<li class="step0 active"><span class="ec-track-icon">
												
										</li>
										<li class="step0 active"><span class="ec-track-icon">
										</li>
									</th:block>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Mã sản phẩm </th>
							<th scope="col">Tên</th>
							<th scope="col">Giá</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Tổng cộng</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detail:*{orderDetails}" th:object="${detail}">
							<th scope="row">[[*{product.id}]]</th>
							<td>[[*{product.name}]]</td>
							<td>[[*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</td>
							<td>[[*{quantity}]]</td>
							<td>[[*{#numbers.formatDecimal((price * quantity), 0, 'COMMA', 0, 'POINT')}]] VNĐ</td>
						</tr>
					</tbody>

				</table>
				<div style="margin-left: 75%;">
					<h5 th:if="*{ShippingCost} gt 0"
						th:text="'Phí ship: ' + ${#numbers.formatDecimal(order.ShippingCost, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
					</h5>
				</div>
				<div style="margin-left: 75%;">
					<h5 th:if="*{ShippingCost} eq 0">Phí ship : Miễn phí vận chuyển</h5>
				</div>
				<div style="margin-left: 75%;">
					<h5 th:text="'Thành tiền: ' + ${#numbers.formatDecimal(sum, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
				</div>
				<!-- Track Order Content end -->
			</div>
		</section>
		<!-- End Track Order section -->


	</main>
</body>

</html>