<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-client/layout-client/index :: dynamic(~{::main})}">

<body>
    <main>



        <!-- Ec breadcrumb start -->
        <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row ec_breadcrumb_inner">
                            <div class="col-md-6 col-sm-12">
                                <h2 class="ec-breadcrumb-title">Blog</h2>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- ec-breadcrumb-list start -->
                                <ul class="ec-breadcrumb-list">
                                    <li class="ec-breadcrumb-item"><a th:href="@{|/home|}">Home</a></li>
                                    <li class="ec-breadcrumb-item active">Blog</li>
                                </ul>
                                <!-- ec-breadcrumb-list end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ec breadcrumb end -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">

                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="ec-card-grid-space">
                            <a class="ec-card media-1" th:href="@{|/coming-soon|}">
                                <div class="ec-num">01</div>
                                <h1>2023 Tuyệt vời - Khởi đầu tươi mới với LG</h1>
                                <p>2023 Tuyệt vời - Khởi đầu tươi mới với LG
                                    Đăng lúc 04h47, 20/12/2022 1 lượt xem
                                    Đừng bỏ qua cơ hội rinh lì xì với loạt ưu đãi cực xịn từ LG trong chương trình "2023
                                    Tuyệt vời - Khởi đầu tươi mới với LG" khi mua...
                                </p>
                                <div class="ec-date">7 jul 2021-2022</div>
                                <div class="ec-tags">
                                    <div th:href="@{|/coming-soon|}" class="ec-tag">READ MORE</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="ec-card-grid-space">
                            <a class="ec-card media-2" th:href="@{|/coming-soon|}">
                                <div class="ec-num">02</div>
                                <h1>Tuần lễ ASUS: Màn hình ASUS giảm SỐC quà ngon, mua ngay!</h1>
                                <p>Đón mừng tuần lễ thương hiệu Asus, TCO SHOP giảm giá hàng loạt sản phẩm Màn hình Asus
                                    đến 2 triệu đồng cùng quà tặng hấp dẫn. Đặc biệt, GIẢM MẠNH 2 LẦN khi mua từ...
                                </p>
                                <div class="ec-date">6 jul 2021-2022</div>
                                <div class="ec-tags">
                                    <div th:href="@{|/coming-soon|}" class="ec-tag">READ MORE</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 m-auto">
                        <div class="ec-card-grid-space">
                            <a class="ec-card media-3" th:href="@{|/coming-soon|}">
                                <div class="ec-num">03</div>
                                <h1>Máy sấy Electrolux giảm 15% khi mua kèm sản phẩm Điện tử - Điện lạnh</h1>
                                <p>Deal hấp dẫn tranh thủ ngay Máy sấy Electrolux giảm 15% khi mua kèm Tivi, Tủ lạnh,
                                    Máy lạnh, Máy giặt tại TCO SHOP. Cơ hội sở hữu chiếc máy sấy quần áo chất lượng với
                                    giá ...
                                </p>
                                <div class="ec-date">5 jul 2021-2022</div>
                                <div class="ec-tags">
                                    <div th:href="@{|/coming-soon|}" class="ec-tag">READ MORE</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <article class="ec-full-blog">
                            <div class="ec-card-bg">
                                <div class="ec-wrapper">
                                    <div class="ec-card-main bg-img-1">
                                        <div class="ec-card-layer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-card-head">
                                <span class="ec-date-box">
                                    <span class="ec-date-day">25</span>
                                    <span class="ec-date-month">JAN</span>
                                </span>
                            </div>
                            <div class="ec-card-info">
                                <h5>MỚI CẢM HỨNG - MỪNG TẾT TRỌN NĂM CÙNG TIVI LG</h5>
                                <p>
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link mr-3">BY: Tony
                                        Jahson</a>|&nbsp;&nbsp;
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link"><i
                                            class="fa fa-comments-o"></i>Comment: 58</a>
                                </p>
                                <p>Cơ hội nhận Soundbar LG SP8A hiện đại với dàn âm thanh sống động cùng nhiều thẻ quà
                                    tặng, gói giải trí,... cực giá trị khi mua các sản phẩm tivi LG tại...</p>
                                <a th:href="@{|/coming-soon|}" class="btn btn-with-icon">READ MORE</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <article class="ec-full-blog">
                            <div class="ec-card-bg">
                                <div class="ec-wrapper">
                                    <div class="ec-card-main bg-img-2">
                                        <div class="ec-card-layer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-card-head">
                                <span class="ec-date-box">
                                    <span class="ec-date-day">06</span>
                                    <span class="ec-date-month">JAN</span>
                                </span>
                            </div>
                            <div class="ec-card-info">
                                <h5>Máy lọc nước giảm đến 3.5 triệu khi mua kèm sản phẩm điện tử - điện lạnh, smartphone
                                </h5>
                                <p>
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link mr-3">BY: Stark
                                        Mike</a>|&nbsp;&nbsp;
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link"><i
                                            class="fa fa-comments-o"></i>Comment: 48</a>
                                </p>
                                <p>Khuyến mãi hấp dẫn khi quý khách hàng mua tivi, tủ lạnh, máy lạnh, máy giặt,
                                    smartphone... tại TCO SHOP sẽ được giảm đến 3.5 triệu đồng ...</p>
                                <a th:href="@{|/coming-soon|}" class="btn btn-with-icon">READ MORE</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                        <article class="ec-full-blog">
                            <div class="ec-card-bg">
                                <div class="ec-wrapper">
                                    <div class="ec-card-main bg-img-3">
                                        <div class="ec-card-layer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-card-head">
                                <span class="ec-date-box">
                                    <span class="ec-date-day">22</span>
                                    <span class="ec-date-month">JAN</span>
                                </span>
                            </div>
                            <div class="ec-card-info">
                                <h5>Bảo hiểm mở rộng là gì? Ưu đãi 15% khi mua kèm tại TCO SHOP</h5>
                                <p>
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link mr-3">BY: Lionardo
                                        Jahson</a>|&nbsp;&nbsp;
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link"><i
                                            class="fa fa-comments-o"></i>Comment: 35</a>
                                </p>
                                <p>Bên cạnh gói bảo hành chính hãng của nhà sản xuất (Từ 12 - 24 tháng tùy theo sản
                                    phẩm), Thế Giới Di Động và TCO SHOP còn mang đến chương trình “Bảo hiểm bảo hành mở
                                    rộng” ...</p>
                                <a th:href="@{|/coming-soon|}" class="btn btn-with-icon">READ MORE</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-blog-card media-1">
                            <div class="ec-title-content">
                                <h3><a th:href="@{|/coming-soon|}">Bếp điện, máy hút mùi giảm đến 5 triệu khi mua kèm
                                        Điện tử, điện lạnh & Gia dụng trên 500K</a></h3>
                                <div class="ec-intro"> <a th:href="@{|/coming-soon|}">Inspiration</a> </div>
                            </div>
                            <div class="ec-card-info">
                                Cơ hội sở hữu bếp điện từ, máy hút mùi với mức giá ưu đãi chưa bao giờ gần bạn đến thế
                                với khuyến mãi giảm đến 5 triệu đồng khi mua kèm các sản phẩm điện tử,...
                                <a th:href="@{|/coming-soon|}">Read Article</a>
                            </div>
                            <div class="ec-utility-info">
                                <ul class="ec-utility-list">
                                    <li><span class="licon icon-like"></span><a th:href="@{|/coming-soon|}">7</a></li>
                                    <li><span class="licon icon-com"></span><a th:href="@{|/coming-soon|}">16</a></li>
                                    <li><span class="licon icon-dat"></span><a th:href="@{|/coming-soon|}">Jun 17</a>
                                    </li>
                                    <li><span class="licon icon-tag"></span><a th:href="@{|/coming-soon|}">Pic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-color-overlay"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-blog-card media-2">
                            <div class="ec-title-content">
                                <h3><a th:href="@{|/coming-soon|}">Máy sấy Beko giảm thêm đến 30% khi mua kèm máy
                                        giặt</a></h3>
                                <div class="ec-intro"> <a th:href="@{|/coming-soon|}">Inspiration</a> </div>
                            </div>
                            <div class="ec-card-info">
                                Nhằm mang đến nhiều ưu đãi hấp dẫn cho quý khách hàng, khi mua Máy sấy Beko bạn sẽ được
                                giảm thêm đến 30% khi mua kèm máy giặt. Cơ hội...
                                <a th:href="@{|/coming-soon|}">Read Article</a>
                            </div>
                            <div class="ec-utility-info">
                                <ul class="ec-utility-list">
                                    <li><span class="licon icon-like"></span><a th:href="@{|/coming-soon|}">2</a></li>
                                    <li><span class="licon icon-com"></span><a th:href="@{|/coming-soon|}">12</a></li>
                                    <li><span class="licon icon-dat"></span><a th:href="@{|/coming-soon|}">Feb 19</a>
                                    </li>
                                    <li><span class="licon icon-tag"></span><a th:href="@{|/coming-soon|}">Pic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-color-overlay"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                        <div class="ec-blog-card media-3">
                            <div class="ec-title-content">
                                <h3><a th:href="@{|/coming-soon|}">Quạt điều hòa Daikiosan giảm 50% khi mua kèm Điện tử
                                        - Điện lạnh, Máy lọc nước & Gia dụng lắp đặt</a></h3>
                                <div class="ec-intro"> <a th:href="@{|/coming-soon|}">Inspiration</a> </div>
                            </div>
                            <div class="ec-card-info">
                                Cơ hội sở hữu Quạt điều hòa Daikiosan với giá rẻ hơn đến 50% khi mua kèm các sản phẩm
                                điện tử, điện lạnh, máy lọc nước & gia dụng lắp đặt..
                                <a th:href="@{|/coming-soon|}">Read Article</a>
                            </div>
                            <div class="ec-utility-info">
                                <ul class="ec-utility-list">
                                    <li><span class="licon icon-like"></span><a th:href="@{|/coming-soon|}">6</a></li>
                                    <li><span class="licon icon-com"></span><a th:href="@{|/coming-soon|}">11</a></li>
                                    <li><span class="licon icon-dat"></span><a th:href="@{|/coming-soon|}">Mar 15</a>
                                    </li>
                                    <li><span class="licon icon-tag"></span><a th:href="@{|/coming-soon|}">Pic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-color-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->

        
     



    </main>
</body>

</html>