<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-client/layout-client/index :: dynamic(~{::main})}">

<body>
    <main>



        <!-- Ec breadcrumb start -->
        <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row ec_breadcrumb_inner">
                            <div class="col-md-6 col-sm-12">
                                <h2 class="ec-breadcrumb-title">Blog</h2>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- ec-breadcrumb-list start -->
                                <ul class="ec-breadcrumb-list">
                                    <li class="ec-breadcrumb-item"><a th:href="@{|/home|}">Home</a></li>
                                    <li class="ec-breadcrumb-item active">Blog</li>
                                </ul>
                                <!-- ec-breadcrumb-list end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ec breadcrumb end -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2 class="ec-bg-title">Style 1</h2>
                            <h2 class="ec-title">Style 1</h2>
                            <p class="sub-title">Browse The Collection of Top Categories</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="ec-card-grid-space">
                            <a class="ec-card media-1" th:href="@{|/coming-soon|}">
                                <div class="ec-num">01</div>
                                <h1>The best fashion influencers.</h1>
                                <p>The syntax of a language is how it works. How to actually write it. Learn HTML
                                    syntax…
                                </p>
                                <div class="ec-date">7 jul 2021-2022</div>
                                <div class="ec-tags">
                                    <div th:href="@{|/coming-soon|}" class="ec-tag">READ MORE</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="ec-card-grid-space">
                            <a class="ec-card media-2" th:href="@{|/coming-soon|}">
                                <div class="ec-num">02</div>
                                <h1>Vogue Shopping Weekend.</h1>
                                <p>The syntax of a language is how it works. How to actually write it. Learn HTML
                                    syntax…
                                </p>
                                <div class="ec-date">6 jul 2021-2022</div>
                                <div class="ec-tags">
                                    <div th:href="@{|/coming-soon|}" class="ec-tag">READ MORE</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 m-auto">
                        <div class="ec-card-grid-space">
                            <a class="ec-card media-3" th:href="@{|/coming-soon|}">
                                <div class="ec-num">03</div>
                                <h1>Fashion Market Reveals Her Jacket.</h1>
                                <p>The syntax of a language is how it works. How to actually write it. Learn HTML
                                    syntax…
                                </p>
                                <div class="ec-date">5 jul 2021-2022</div>
                                <div class="ec-tags">
                                    <div th:href="@{|/coming-soon|}" class="ec-tag">READ MORE</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2 class="ec-bg-title">Style 2</h2>
                            <h2 class="ec-title">Style 2</h2>
                            <p class="sub-title">Browse The Collection of Top Categories</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <article class="ec-full-blog">
                            <div class="ec-card-bg">
                                <div class="ec-wrapper">
                                    <div class="ec-card-main bg-img-1">
                                        <div class="ec-card-layer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-card-head">
                                <span class="ec-date-box">
                                    <span class="ec-date-day">25</span>
                                    <span class="ec-date-month">JAN</span>
                                </span>
                            </div>
                            <div class="ec-card-info">
                                <h5>Vogue’s Shopping Director Reveals Her Autumn Essentials</h5>
                                <p>
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link mr-3">BY: Tony Jahson</a>|&nbsp;&nbsp;
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link"><i class="fa fa-comments-o"></i>Comment: 58</a>
                                </p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero
                                    voluptatibus earum...</p>
                                <a th:href="@{|/coming-soon|}" class="btn btn-with-icon">READ MORE</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <article class="ec-full-blog">
                            <div class="ec-card-bg">
                                <div class="ec-wrapper">
                                    <div class="ec-card-main bg-img-2">
                                        <div class="ec-card-layer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-card-head">
                                <span class="ec-date-box">
                                    <span class="ec-date-day">06</span>
                                    <span class="ec-date-month">JAN</span>
                                </span>
                            </div>
                            <div class="ec-card-info">
                                <h5>Harvick Gets What He Needs, Johnson Among Those</h5>
                                <p>
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link mr-3">BY: Stark Mike</a>|&nbsp;&nbsp;
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link"><i class="fa fa-comments-o"></i>Comment: 48</a>
                                </p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero
                                    voluptatibus earum...</p>
                                <a th:href="@{|/coming-soon|}" class="btn btn-with-icon">READ MORE</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                        <article class="ec-full-blog">
                            <div class="ec-card-bg">
                                <div class="ec-wrapper">
                                    <div class="ec-card-main bg-img-3">
                                        <div class="ec-card-layer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-card-head">
                                <span class="ec-date-box">
                                    <span class="ec-date-day">22</span>
                                    <span class="ec-date-month">JAN</span>
                                </span>
                            </div>
                            <div class="ec-card-info">
                                <h5>This Is The Summer Of The Rogue Power Couple in 2021</h5>
                                <p>
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link mr-3">BY: Lionardo Jahson</a>|&nbsp;&nbsp;
                                    <a th:href="@{|/coming-soon|}" class="ec-icon-link"><i class="fa fa-comments-o"></i>Comment: 35</a>
                                </p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero
                                    voluptatibus earum...</p>
                                <a th:href="@{|/coming-soon|}" class="btn btn-with-icon">READ MORE</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2 class="ec-bg-title">Style 3</h2>
                            <h2 class="ec-title">Style 3</h2>
                            <p class="sub-title">Browse The Collection of Top Categories</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-blog-card media-1">
                            <div class="ec-title-content">
                                <h3><a th:href="@{|/coming-soon|}">Best Fashion Influencers.</a></h3>
                                <div class="ec-intro"> <a th:href="@{|/coming-soon|}">Inspiration</a> </div>
                            </div>
                            <div class="ec-card-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim...
                                <a th:href="@{|/coming-soon|}">Read Article</a>
                            </div>
                            <div class="ec-utility-info">
                                <ul class="ec-utility-list">
                                    <li><span class="licon icon-like"></span><a th:href="@{|/coming-soon|}">7</a></li>
                                    <li><span class="licon icon-com"></span><a th:href="@{|/coming-soon|}">16</a></li>
                                    <li><span class="licon icon-dat"></span><a th:href="@{|/coming-soon|}">Jun 17</a></li>
                                    <li><span class="licon icon-tag"></span><a th:href="@{|/coming-soon|}">Pic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-color-overlay"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-blog-card media-2">
                            <div class="ec-title-content">
                                <h3><a th:href="@{|/coming-soon|}">Vogue Shopping Weekend.</a></h3>
                                <div class="ec-intro"> <a th:href="@{|/coming-soon|}">Inspiration</a> </div>
                            </div>
                            <div class="ec-card-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim...
                                <a th:href="@{|/coming-soon|}">Read Article</a>
                            </div>
                            <div class="ec-utility-info">
                                <ul class="ec-utility-list">
                                    <li><span class="licon icon-like"></span><a th:href="@{|/coming-soon|}">2</a></li>
                                    <li><span class="licon icon-com"></span><a th:href="@{|/coming-soon|}">12</a></li>
                                    <li><span class="licon icon-dat"></span><a th:href="@{|/coming-soon|}">Feb 19</a></li>
                                    <li><span class="licon icon-tag"></span><a th:href="@{|/coming-soon|}">Pic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-color-overlay"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                        <div class="ec-blog-card media-3">
                            <div class="ec-title-content">
                                <h3><a th:href="@{|/coming-soon|}">Fashion Jacket For Men.</a></h3>
                                <div class="ec-intro"> <a th:href="@{|/coming-soon|}">Inspiration</a> </div>
                            </div>
                            <div class="ec-card-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim...
                                <a th:href="@{|/coming-soon|}">Read Article</a>
                            </div>
                            <div class="ec-utility-info">
                                <ul class="ec-utility-list">
                                    <li><span class="licon icon-like"></span><a th:href="@{|/coming-soon|}">6</a></li>
                                    <li><span class="licon icon-com"></span><a th:href="@{|/coming-soon|}">11</a></li>
                                    <li><span class="licon icon-dat"></span><a th:href="@{|/coming-soon|}">Mar 15</a></li>
                                    <li><span class="licon icon-tag"></span><a th:href="@{|/coming-soon|}">Pic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-color-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2 class="ec-bg-title">Style 4</h2>
                            <h2 class="ec-title">Style 4</h2>
                            <p class="sub-title">Browse The Collection of Top Categories</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-box-card">
                            <div class="ec-wrapper wrp-img-1">
                                <div class="ec-date">
                                    <span class="ec-day">12</span>
                                    <span class="ec-month">Jan</span>
                                    <span class="ec-year">2016</span>
                                </div>
                                <div class="ec-body">
                                    <div class="ec-content">
                                        <span class="ec-author">Jane Doe</span>
                                        <h2 class="ec-title"><a th:href="@{|/coming-soon|}">Vogue’s Shopping Director Reveals Her Autumn
                                                Essentials</a></h2>
                                        <p class="ec-text">The highly anticipated world championship fight will take
                                            place
                                            at 10am and is the second major.
                                        </p>
                                        <label class="ec-menu-button"><span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-box-card">
                            <div class="ec-wrapper wrp-img-2">
                                <div class="ec-date">
                                    <span class="ec-day">24</span>
                                    <span class="ec-month">Feb</span>
                                    <span class="ec-year">2020</span>
                                </div>
                                <div class="ec-body">
                                    <div class="ec-content">
                                        <span class="ec-author">Mark kodic</span>
                                        <h2 class="ec-title"><a th:href="@{|/coming-soon|}">Harvick Gets What He Needs, Johnson Among
                                                Those</a></h2>
                                        <p class="ec-text">The highly anticipated world championship fight will take
                                            place
                                            at 10am and is the second major.
                                        </p>
                                        <label class="ec-menu-button"><span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                        <div class="ec-box-card">
                            <div class="ec-wrapper wrp-img-3">
                                <div class="ec-date">
                                    <span class="ec-day">17</span>
                                    <span class="ec-month">Aug</span>
                                    <span class="ec-year">2020</span>
                                </div>
                                <div class="ec-body">
                                    <div class="ec-content">
                                        <span class="ec-author">Jane Doe</span>
                                        <h2 class="ec-title"><a th:href="@{|/coming-soon|}">This Is The Summer Of The Rogue Power Couple in
                                                2021</a></h2>
                                        <p class="ec-text">The highly anticipated world championship fight will take
                                            place
                                            at 10am and is the second major.
                                        </p>
                                        <label class="ec-menu-button"><span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->

        <!-- START Blog Style -->
        <section class="ec-card-blog section-space-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2 class="ec-bg-title">Style 5</h2>
                            <h2 class="ec-title">Style 5</h2>
                            <p class="sub-title">Browse The Collection of Top Categories</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-minus-t-15">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-up-card">
                            <div class="ec-wrapper wrp-img-1">
                                <div class="ec-header">
                                    <div class="ec-date">
                                        <span class="ec-day">06</span>
                                        <span class="ec-month">Jan</span>
                                        <span class="ec-year">2016</span>
                                    </div>
                                </div>
                                <div class="ec-body">
                                    <div class="ec-content">
                                        <span class="ec-author">Jane smither</span>
                                        <h2 class="ec-title"><a th:href="@{|/coming-soon|}">This Is The Summer Of The Rogue Power Couple in
                                                2021</a>
                                        </h2>
                                        <p class="ec-text">The antsy bingers of Netflix will eagerly anticipate the
                                            digital
                                            release of the Survive soundtrack.</p>
                                        <a th:href="@{|/coming-soon|}" class="ec-button-read read-btn">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="ec-up-card">
                            <div class="ec-wrapper wrp-img-2">
                                <div class="ec-header">
                                    <div class="ec-date">
                                        <span class="ec-day">11</span>
                                        <span class="ec-month">Feb</span>
                                        <span class="ec-year">2016</span>
                                    </div>
                                </div>
                                <div class="ec-body">
                                    <div class="ec-content">
                                        <span class="ec-author">Mikel Ronald</span>
                                        <h2 class="ec-title"><a th:href="@{|/coming-soon|}">Harvick Gets What He Needs, Johnson Among
                                                Those</a>
                                        </h2>
                                        <p class="ec-text">The antsy bingers of Netflix will eagerly anticipate the
                                            digital
                                            release of the Survive soundtrack.</p>
                                        <a th:href="@{|/coming-soon|}" class="ec-button-read read-btn">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                        <div class="ec-up-card">
                            <div class="ec-wrapper wrp-img-3">
                                <div class="ec-header">
                                    <div class="ec-date">
                                        <span class="ec-day">17</span>
                                        <span class="ec-month">Aug</span>
                                        <span class="ec-year">2016</span>
                                    </div>
                                </div>
                                <div class="ec-body">
                                    <div class="ec-content">
                                        <span class="ec-author">Erik Morgus</span>
                                        <h2 class="ec-title"><a th:href="@{|/coming-soon|}">Vogue’s Shopping Director Reveals Her Autumn
                                                Essentials</a>
                                        </h2>
                                        <p class="ec-text">The antsy bingers of Netflix will eagerly anticipate the
                                            digital
                                            release of the Survive soundtrack.</p>
                                        <a th:href="@{|/coming-soon|}" class="ec-button-read read-btn">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/END Blog Style -->


    </main>
</body>

</html>