
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{tco-client/layout-client/index :: dynamic(~{::main})}">
<body>
<main>

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">FAQ</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="ec-breadcrumb-item active">FAQ</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Ec FAQ page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">FAQ</h2>
                    <h2 class="ec-title">FAQ</h2>
                </div>
            </div>
            <div class="ec-faq-wrapper">
                <div class="ec-faq-container">
                    <h2 class="ec-faq-heading">Các câu hỏi thường gặp của TCO SHOP</h2>
                    <div id="ec-faq">
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">Khi đặt nhiều đơn hàng trong một ngày thì có được gộp lại không?</h4>
                            <div class="ec-faq-content">
                                <p>Nếu đặt nhiều đơn và cùng thông tin người nhận trong một ngày, nhân viên bán hàng của chúng tôi sẽ liên hệ lại với bạn để thông báo gộp các đơn hàng và tính phí vận chuyển cho 1 đơn hàng duy nhất. Để biết thêm chi tiết hãy liên hệ với chúng tôi qua địa chỉ email tcoshop@gmail.com.

                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">Làm sao để đặt được một đơn hàng online?</h4>
                            <div class="ec-faq-content">
                                <p>Để đặt mua hàng tại website TCO SHOP bạn vui lòng làm theo hướng dẫn tại mục hướng dẫn đặt hàng và sản phẩm sẽ được giao đến địa chỉ mà bạn đăng ký nhận hàng. </p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">Làm sao để liên hệ với TCO SHOP khi không kết nối được với hotline bộ phận bán hàng?</h4>
                            <div class="ec-faq-content">
                                <p>​Bạn hãy gửi thư đến email tcoshop@gmail.com hay tcosupport@gmail.com cho chúng tôi nhé.
                                <br>
                                Hoặc bạn có thể chat với chúng tôi tại messenger trên fanpage facebook TCO SHOP
                                <br>
                                Ngoài ra bạn còn có thể kết bạn zalo số (+84)123456789 để chat với bộ phận bán hàng nhanh chóng, </p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">TCO SHOP có quy định về thời gian đặt hàng online hay không?</h4>
                            <div class="ec-faq-content">
                                <p>Bạn có thể đặt hàng 24/24h mỗi ngày, cửa hàng luôn sẵn sàng nhận đơn hàng online của bạn. </p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">Làm sao để đặt mua nhiều sản phẩm trong cùng 1 đơn hàng?</h4>
                            <div class="ec-faq-content">
                                <p>Bạn chỉ cần thêm các đơn hàng bạn muốn vào giỏ hàng và thanh toán hoá đơn. Tất cả sản phẩm bạn cần sẽ được gửi cùng 1 đơn hàng.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</main>   
</body>
</html>