<div xmlns:th="http://www.thymeleaf.org">

    <div id="ec-main-menu-desk" class="d-none d-lg-block sticky-nav">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <div class="ec-main-menu">
                        <ul>
                            <li><a th:href="@{/home}">Trang chủ</a></li>
                            <li class="dropdown"><a href="javascript:void(0)">Danh mục</a>
                                <ul class="sub-menu" style="width:250px;">
                                    <li th:each="category : ${categories}" class="dropdown position-static">
                                        <a th:href="@{|/product/list?cid=${category.id}|}"><img
                                                th:src="@{|/images/category/${category.icon}|}"
                                                style="width: 20px; margin-right: 10px;">[[${category.name}]]<i
                                                class="ecicon eci-angle-right"></i></a>
                                        <ul class="sub-menu sub-menu-child">
                                            <li th:each="subcategory : ${category.subcategories}"><a
                                                    th:href="@{|/product/list?scid=${subcategory.id}|}"><img
                                                    th:src="@{|/images/subcategory/${subcategory.icon}|}"
                                                    style="width: 20px">[[${subcategory.name}]]</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a th:href="@{|/product/list|}">Sản phẩm</a> </li>
                            <li class="dropdown"><a th:href="@{/about-us}">About Us</a></li>
                            <li class="dropdown"><span class="main-label-note-new" data-toggle="tooltip"
                                    title="NEW"></span><a th:href="@{|/blog|}">Blog</a>
                            </li>
                            <li class="dropdown"><a th:href="@{|/faq|}">FAQ</a>
                            </li>
                            <li class="dropdown"><a th:href="@{|/error-page|}">Tổng hợp</a>
                            </li>
                            <li><a th:href="@{|/offer|}">Ưu đãi hấp dẫn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>