
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
<main ng-controller = "product-ctrl" th:object=${item}>

<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
	<div class="content">
		<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
			<div>
				<h1>Product Detail</h1>
				<p class="breadcrumbs"><span><a th:href="@{/tco-admin}">Dashboard</a></span>
					<span><i class="mdi mdi-chevron-right"></i></span>Product
				</p>
			</div>
			<div>
				<a th:href="@{|/tco-admin/product/*{id}|}" class="btn btn-primary"> Edit
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card card-default">
					<div class="card-header card-header-border-bottom">
						<h2>Product Detail</h2>
					</div>

					<div class="card-body product-detail">
						<div class="row">
							<div class="col-xl-4 col-lg-6">
								<div class="row">
									<div class="single-pro-img">
										<div class="single-product-scroll">
											<div class="single-product-cover">
												<div class="single-slide zoom-image-hover">
													<img class="img-responsive"
														th:src="@{|/images/products/*{image1}|}" alt="">
												</div>
									
												 <div class="single-slide zoom-image-hover">
													<img class="img-responsive"
														th:src="@{|/assets-admin/img/products/*{image2}|}" alt="">
												</div>
												
												<div class="single-slide zoom-image-hover">
													<img class="img-responsive"
														th:src="@{|/assets-admin/img/products/*{image3}|}" alt="">
												</div>
												<div class="single-slide zoom-image-hover">
													<img class="img-responsive"
														th:src="@{|/assets-admin/img/products/*{image4}|}" alt="">
												</div>
											</div>
											  
											<div class="single-nav-thumb" >
												<div class="single-slide">
													<img class="img-responsive"
														th:src="@{|/images/products/*{image2}|}" alt="">
												</div>
												<div class="single-slide">
													<img class="img-responsive"
														th:src="@{|/images/products/*{image3}|}" alt="">
												</div>
												<div class="single-slide">
													<img class="img-responsive"
														th:src="@{|/images/products/*{image4}|}" alt="">
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-5 col-lg-6">
								<div class="row product-overview">
									<div class="col-12">
										<h5 class="product-title" th:text = "*{name}"></h5>
										<!--  
										<p class="product-desc">Lorem Ipsum is simply dummy text of the
											printing and typesetting industry. Lorem Ipsum has been the
											industry's standard dummy text ever since the 1990.</p>
										<p class="product-desc">Lorem Ipsum is simply dummy text of the
											printing and typesetting industry. Lorem Ipsum has been the
											industry's standard dummy text ever since the 1990. Lorem Ipsum
											is simply dummy text of the printing and typesetting industry.
										</p>
										-->
										<p class="product-desc" th:text = "*{description}"></p>
										
										<span class="new-price" th:if="*{discount} == 0">[[*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</span><br>
										<div th:if="*{discount} != 0">
											<span class="old-price" style="color: red;">[[*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</span>
											-
											<span class="new-price">[[*{#numbers.formatDecimal(price * (100 - discount) / 100, 0, 'COMMA', 0, 'POINT')}]] VNĐ</span><br>
											
										</div>
										<label> Mã sản phẩm: </label>
										<span class="product-sku" th:text="*{id}"></span>
										<br>
										<div class="product-stock">
											<div class="stock">
												<p class="title">Số lượng</p>
												<p class="text" th:text="*{stock}"></p>
											</div>
											<!--
											<div class="stock">
												<p class="title">Pending</p>
												<p class="text">50</p>
											</div>
											<div class="stock">
												<p class="title">InOrder</p>
												<p class="text">20</p>
											</div>
											-->
										</div>
									</div>
								</div>
							</div>
							
						</div>

						<div class="row review-rating mt-4">
							<div class="col-12">
								<ul class="nav nav-tabs" id="myRatingTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active"
											id="product-detail-tab" data-bs-toggle="tab"
											data-bs-target="#productdetail" href="#productdetail" role="tab"
											aria-selected="true">
											<i class="mdi mdi-library-books mr-1"></i> Cùng danh mục</a>
									</li>

									<li class="nav-item">
										<a class="nav-link"
											id="product-information-tab" data-bs-toggle="tab"
											data-bs-target="#productinformation" href="#productinformation"
											role="tab" aria-selected="false">
											<i class="mdi mdi-information mr-1"></i>Chi tiết</a>
									</li>

									<li class="nav-item">
										<a class="nav-link"
											id="product-reviews-tab" data-bs-toggle="tab"
											data-bs-target="#productreviews" href="#productreviews"
											role="tab" aria-selected="false">
											<i class="mdi mdi-star-half mr-1"></i> Đánh giá</a>
									</li>
								</ul>
								<div class="tab-content" id="myTabContent2">
									<div class="tab-pane pt-3 fade show active" id="productdetail"
										role="tabpanel">
										<!--  
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting
											industry.
											Lorem Ipsum has been the industry's standard dummy text ever
											since the
											1500s, when an unknown printer took a galley of type and
											scrambled it to
											make a type specimen book. It has survived not only five
											centuries, but also
											the leap into electronic typesetting, remaining essentially
											unchanged.
										</p>
										-->
										<ul>
											<li th:each = "c:*{category.products}" th:if="${c.id} != *{id}">
												<a th:href = "@{|/tco-admin/product/detail/${c.id}|}" th:text = "${c.name}"></a>
											</li>
										</ul>
										
									</div>

									<div class="tab-pane pt-3 fade" id="productinformation" role="tabpanel">
										<ul>
											<li th:each="productVariation : *{productVariations}" th:if="${productVariation.value} != ''"> 
												<span>[[${productVariation.name}]]: </span> [[${productVariation.value}]]
											</li>
											
										</ul>
									</div>

									<div class="tab-pane pt-3 fade" id="productreviews" role="tabpanel">
										<div class="ec-t-review-wrapper">
											<div class="ec-t-review-item" th:each="review : ${reviews}">
												<div class="ec-t-review-avtar">
													<img th:src="@{|/images/user/${review.user.avatar}|}" alt="">
												</div>
												<div class="ec-t-review-content">
													<div class="ec-t-review-top">
														<p class="ec-t-review-name">[[${review.user.username}]]</p>											
													</div>
													<div class="ec-t-review-bottom">
														<p>[[${review.content}]]
														</p>
													</div>
												</div>
											</div>
											

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End Content -->
</div> <!-- End Content Wrapper -->


</main>   
</body>
</html>