<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">

<body>
	<main ng-controller="product-ctrl" th:object=${item}>

		<!-- CONTENT WRAPPER -->
		<div class="ec-content-wrapper">
			<div class="content">
				<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
					<div>
						<h1>Danh sách sản phẩm</h1>
						<p class="breadcrumbs">
							<span><a th:href="@{/tco-admin}">Bảng điều khiển</a></span> <span><i
									class="mdi mdi-chevron-right"></i></span>Danh sách sản phẩm
						</p>
					</div>
					<div>
						<a th:href="@{/tco-admin/product/add}" class="btn btn-primary"> Thêm sản phẩm</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card card-default">
							<div class="card-header card-header-border-bottom d-flex justify-content-between">
								<div class="card-bar">
									<div class="col-lg-3 col-md-6">
										<label for="pagerSize">Hiển thị: </label>
										<select class="form-control" ng-change="pagination()" ng-model="pageSize">
											<option value="10">10</option>
											<option value="15">15</option>
											<option value="20">20</option>
										</select>
									</div>
	
									<div class="col-lg-9 col-md-12 sort">
										<div class="col-lg-4 col-md-6 p-space">
											<label >Tìm kiếm</label>
											<input class="form-control" type="text" ng-model="productSearch"
												placeholder="Tìm kiếm">
										</div>
										<div class="col-lg-4 col-md-6 p-space">
											<label for="sortProduct">Bộ lọc</label>
											<select class="form-control" ng-change="sort()"
												ng-model="sortProperty">
												<option value="name">Tên sản phẩm ↑</option>
												<option value="-name">Tên sản phẩm ↓</option>
												<option value="price">Giá sản phẩm ↑</option>
												<option value="-price">Giá sản phẩm ↓</option>
												<option value="discount">Khuyến mãi(%) ↑</option>
												<option value="-discount">Khuyến mãi(%) ↓</option>
												<option value="stock">Số lượng ↑</option>
												<option value="-stock">Số lượng ↓</option>
												<option value="category">Danh mục ↑</option>
												<option value="-category">Danh mục ↓</option>
												<option value="subcategory">Thương hiệu ↑</option>
												<option value="-subcategory">Thương hiệu ↓</option>
							
											</select>
										</div>
									</div>
								</div>
								</div>
								
							<div>
								<h6>Tổng sản phẩm: {{totalQuantity()}}</h6>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="card card-default">
										<div class="card-body">

											<table class="table" style="width: 100%">
												<thead>
													<tr>
														<th>Sản phẩm</th>
														<th>Name</th>
														<th>Giá (VNĐ)</th>
														<th>Khuyến mãi (%)</th>
														<th>Giá khuyến mãi (VNĐ)</th>
														<th>Số lượng</th>
														<th>Danh mục</th>
														<th>Thương hiệu</th>
														<th>Tuỳ chỉnh</th>
													</tr>
												</thead>

												<tbody>
													<tr
														ng-repeat="item in items | filter: productSearch | orderBy: sortProperty 
														| startFrom: currentPage*pageSize | limitTo: pageSize">
														<td><img th:src="@{/images/products/{{item.image1}}}"
																style="width: 100px;" /></td>
														<td>{{item.name}}</td>
														<td>{{item.price| number}}</td>
														<td>{{item.discount}}</td>
														<td>{{item.price * (100-item.discount)/100 | number}}</td>
														<td>{{item.stock}}</td>
														<td>{{item.category.name}}</td>
														<td>{{item.subcategory.name}}</td>
														<td>
															<div class="btn-group mb-1">
																<a th:href="@{|/tco-admin/product/detail/{{item.id}}|}"
																	type="button"
																	class="btn btn-outline-success">Info</a>
																<button type="button"
																	class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
																	data-bs-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false" data-display="static">
																	<span class="sr-only">Info</span>
																</button>

																<div class="dropdown-menu">
																	<a class="dropdown-item"
																		th:href="@{|/tco-admin/product/{{item.id}}|}">Sửa</a>
																	<a class="dropdown-item"
																		th:href="@{|/tco-admin/product/delete/{{item.id}}|}">Xóa</a>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="panel-footer text-center">
												<button ng-click = "pagination()" class="btn btn-danger">
													<b>Trang đầu</b>
												</button>
												<button ng-disabled = "currentPage == 0" ng-click="currentPage=currentPage - 1" class="btn btn-primary">
													<b>Trước</b>
												</button>
												<button class="btn btn-success">{{currentPage + 1}}/{{numberOfPages()}}</button>
												<button ng-disabled = "currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary">
													<b>Tiếp</b>
												</button>
												<button ng-click = "currentPage = numberOfPages() - 1" class="btn btn-danger">
													<b>Trang cuối</b>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Content -->
		</div>
		<!-- End Content Wrapper -->


	</main>
</body>

</html>