<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
	<main ng-controller="order-ctrl">

		<!-- CONTENT WRAPPER -->
		<div class="ec-content-wrapper">
			<div class="content">
				<div
					class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
					<div>
						<h1>Order</h1>
						<p class="breadcrumbs">
							<span><a href="index.html">Home</a></span> <span><i
								class="mdi mdi-chevron-right"></i></span>Order
						</p>
					</div>
					<div>
						<a th:href="@{/tco-admin/product/add}" class="btn btn-primary"> List
							Order</a>
					</div>
				</div>
				
				<label for="pagerSize">Hiển thị: </label>
				<select>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
				</select>
				<input type="text" placeholder="Tìm kiếm">
				<label for="sortProduct">Bộ lọc</label>
				<select>
					<option value="name">A-Z</option>
					<option value="-name">Z-A</option>
					<option value="price">Giá tăng dần</option>
					<option value="-price">Giá giảm dần</option>
					<option value="discount">Khuyến mãi tăng dần</option>
					<option value="-discount">Khuyến mãi giảm dần</option>
					<option value="stock">Số lượng tăng dần</option>
					<option value="-stock">Số lượng giảm dần</option>
					<!-- 
					<option value="category">Danh mục A-Z</option>
					<option value="-category">Danh mục Z-A</option>
					<option value="subcategory">Thương hiệu A-Z</option>
					<option value="-subcategory">Thương hiệu Z-A</option>
					 -->
				</select>
				<div>
				<h6>Tổng đơn đặt:</h6>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card card-default">
							<div class="card-body">
								
									<table  class="table"
										style="width: 100%">
										<thead>
											<tr>
												<th>Mã đơn hàng</th>
												<th>Người mua</th>
												<th>Ngày đặt</th>
												<th>Số điện thoại</th>
												<th>Địa chỉ</th>
												<th>Trạng thái</th>
												<th>Ghi chú</th>
												<th>Tuỳ chỉnh</th>
												<th></th>
											</tr>
										</thead>

										<tbody>
											<tr ng-repeat="order in orders">
												<td>{{order.id}}</td>
												<td>
													<span ng-if="order.user.fullname !== null && order.user.fullname !== undefined">{{order.user.fullname}}</span>
													<span ng-if="order.user.fullname === null || order.user.fullname === undefined">{{order.user.username}}</span>
												</td>
												<td>{{order.createDate | date:'dd/MM/yyyy'}}</td>
												<td>{{order.phoneNumber}}</td>
												<td>{{order.address}}</td>
												<td>
													<span ng-if="order.status == 'ChoXacNhan'">Chờ xác nhận</span>
													<span ng-if="order.status == 'ChuanBi'">Chuẩn bị hàng</span>
													<span ng-if="order.status == 'XuatKho'">Đã xuất kho</span>
													<span ng-if="order.status == 'VanChuyen'">Đang vận chuyển</span>
													<span ng-if="order.status == 'DaGiaoHang'">Đã giao hàng</span>
													<span ng-if="order.status == 'HuyBo'">Huỷ đơn</span>
												</td>
												<td>{{order.description}}</td>
												<td>
													<div class="btn-group mb-1">
														<a type="button" class="btn btn-outline-success">Info</a>
														<button type="button"
															class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
															data-bs-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false" data-display="static">
															<span class="sr-only">Info</span>
														</button>

														<div class="dropdown-menu">
															<a class="dropdown-item">Edit</a> 
															<a class="dropdown-item">Delete</a>
														</div>
													</div>
												</td>
												<td>Xem chi tiết</td>												
											</tr>
										</tbody>
									</table>
									<div class="panel-footer text-center">
										<button class="btn btn-danger">
											<b>First</b>
										</button>
										<button class="btn btn-primary">
											<b>Previous</b>
										</button>
										<button class="btn btn-success"></button>
										<button class="btn btn-primary">
											<b>Next</b>
										</button>
										<button class="btn btn-danger">
											<b>Last</b>
										</button>
									</div>
									
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Content -->
		</div>
		<!-- End Content Wrapper -->


	</main>
</body>
</html>