
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
<main ng-controller= "transaction-ctrl">

<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
	<div class="content">
		<div
			class="breadcrumb-wrapper breadcrumb-wrapper-2 d-flex align-items-center justify-content-between">
			<h1>Danh sách Thanh toán</h1>
			<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
				<span><i class="mdi mdi-chevron-right"></i></span>Review
			</p>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card card-default">
					<div class="card-header card-header-border-bottom d-flex justify-content-between">
						<div class="card-bar">
							<div class="col-lg-3 col-md-6">
								<label for="pagerSize">Hiển thị: </label>
								<select class="form-control" ng-change="pagination()" ng-model="pageSize">
									<option value="3">3</option>
									<option value="6">6</option>
									<option value="10">10</option>
								</select>
							</div>

							<div class="col-lg-9 col-md-12 sort">
								<div class="col-lg-4 col-md-6 p-space">
									<label >Tìm kiếm</label>
									<input class="form-control" type="text" ng-model="transSearch"
										placeholder="Tìm kiếm">
								</div>
								<div class="col-lg-4 col-md-6 p-space">
									<label for="sortProduct">Bộ lọc</label>
									<select class="form-control" ng-change="sort()"
										ng-model="transProperty">
										<option value="id">ID ↑</option>
										<option value="-id">ID ↓</option>
										<option value="amount">Số tiền ↑</option>
										<option value="-amount">Số tiền ↓</option>
										<option value="bankCode">Ngân hàng ↑</option>
										<option value="-bankCode">Ngân hàng ↓</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card card-default">
					<div class="card-body">
						
							<table class="table" style="width:100%">
								<thead>
									<tr>
										<th>ID</th>
										<th>Ngân hàng</th>
										<th>Loại Thẻ</th>
										<th>Số tiền</th>
										<th>Ngày giao dịch</th>
										<th>Trạng thái</th>
										<th>MTT VNPay</th>
										<th>MTT Ngân hàng</th>									
									</tr>
								</thead>

								<tbody>
									<tr ng-repeat = "trans in transaction | filter: transSearch | orderBy: transProperty
										| startFrom: currentPage * pageSize | limitTo: pageSize">
										<td>{{trans.id}}</td>
										<td>{{trans.bankCode}}</td>
										<td>{{trans.cardType}}</td>
										<td>{{trans.amount | currency:'':0}} VND</td>
										<td>{{trans.payDate | date:'dd/MM/yyyy'}} at {{trans.payTime}} </td>
										<td>{{trans.transactionStatus}}</td>
										<td>{{trans.transactionNo}}</td>
										<td>{{trans.bankTranNo}}</td>
									</tr>
								</tbody>
							</table>
							<div class="panel-footer text-center">
								<button ng-click="pagination()" class="btn btn-danger">
									<b>Trang đầu</b>
								</button>
								<button ng-disabled = "currentPage == 0" ng-click="currentPage = currentPage - 1" class="btn btn-primary">
									<b>Trước</b>
								</button>
								<button class="btn btn-success">{{currentPage+1}}/{{numberOfPages()}}</button>
								<button ng-disabled = "currentPage >= transaction.length/pageSize-1" ng-click="currentPage = currentPage+1" class="btn btn-primary">
									<b>Tới</b>
								</button>
								<button ng-click="currentPage = numberOfPages() -1" class="btn btn-danger">
									<b>Trang cuối</b>
								</button>
							</div>
						
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End Content -->
</div> <!-- End Content Wrapper -->


</main>   
</body>
</html>